<!DOCTYPE html>
<html>
<head>
    <style>
        h3 {
            color: red;
        }

        input[type="password"] {
            /* Your preferred styles for password input */
            font-family: monospace; /* optional */
        }
    </style>
</head>
<body>
    {% for message in messages %}
        <h3>{{message}}</h3>
    {% endfor %}

    <form action="Destynacja" method="POST">
        {% csrf_token %}
        <p>Destynacja:</p>
        <input type="text" placeholder="adres" name="adres"/>
        <input type="text" placeholder="wspolrzedne" name="wspolrzedne"/>
        <input type="text" placeholder="telefon" name="telefon"/><br>
        <input type="submit"/>

    </form>
</body>
</html>